@import url("all.min.css");

body,
html {
    background-color: #2f3437;
    color: rgb(235, 239, 243);
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;

}

h1 {

    font-weight: 900;
    font-size: 350%;
    line-height: 10px;

}

a,
a:visited {
    color: rgb(222, 227, 237);
    text-decoration: none;
}

a:hover {
    color: rgb(242, 180, 115);
}


.highlighted {

    font-size: x-large;

}

/* containers */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 2em;
    padding-top: 10em;
}


.main {

    text-align: center;

}

.links {

    display: flex;
    gap: 10px;


}

/* ... */

hr {
    margin: 20px auto;
    color: #f05f44;
    border: 3px solid #f05f44;
    max-width: 65px;
    opacity: 1;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    font-size: 30px;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 6 Brands';
}