@import url("all.min.css");

body,
html {
    background-color: #2f3437;
    color: rgb(235, 239, 243);
    font-family: 'Lato', sans-serif;

    /*width: 100%;*/
    /* height: 100%; */
    margin: 0;
    font-size: 1rem;

}



/* header */
.main-header {
    /* border: 1px solid white; */
    padding-top: 2em;

}

.mh-logo {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin: 0 0 -10px;
    gap: 1em;
}

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-nav ul {
    margin: 1em 1em 1em 1em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em .5em;
}

@media (min-width:960px) {
    .main-header .container {
        justify-content: space-between;
    }
}


/* section main */
.section-main {
    /* font-family: 'Merriweather', serif; */
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 960px;
    flex-direction: row;
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;



}

.left-row {
    width: 30%;
    padding: 10px;
    line-height: 25px;

    font-size: 1.2rem;

    text-align: center;

}

.right-row {
    width: 70%;
    padding: 10px;
    line-height: 25px;
    vertical-align: top;



}

/* -- */

h1 {

    font-weight: 900;
    font-size: 2.5rem;
    line-height: 0px;

}

a,
a:visited {
    color: rgb(222, 227, 237);
    text-decoration: none;
}

a:hover {
    color: rgb(242, 180, 115);
}

hr {
    /* margin: 20px auto; */
    /* color: #f05f44; */
    border: 0.5px dashed rgb(77, 76, 76);
    max-width: 65vw;
    opacity: 1;
}

/* icons */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    font-size: 48px;
}

.icon:before {
    line-height: inherit;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 6 Brands';
}

/*   */

.image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0.35em;
    display: block;
}

.image.avatar {
    border-radius: 100%;
    width: 6.25em;
}

.image.avatar:before {
    display: none;
}

.image.avatar img {
    border-radius: 100%;
    width: 100%;
}